<div class="section top-section login-page view">
    <div class="logo">
        <img src="/images/logo_transparent_background.png" />
    </div>
    <div class="login-form col-lg-5 col-md-7 col-sm-7 col-xs-12">
        <h1>Member Login</h1>
        <input type="text" class="form-control" placeholder="Username" />
        <input type="password" class="form-control" placeholder="Password" />
        <a class="btn sign-in">Login</a>
        <h2>Not a member yet?</h2>
        <a class="btn sign-up" ui-sref="signup">Sign up</a>        
    </div>
</div>