.login-page {
    height: 100%;

    .login-form {
        text-align: center;
        margin: 150px auto;
        float: none;
        padding: 40px;
        border-radius: 5px;
        color: #fff;
        background-color: rgba(50,58,69,.5);

        h1 {
            font-size: 48px;
            margin-top: 0;
        }

        h2 {
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 1.39px;
        }

        .form-control {
            margin: 20px 0;
            height: 37px;
        }

        .btn.sign-in {
            float: none;
            height: 37px;
            width: 140px;
            font-size: 18px;
            margin: 20px 0;
            letter-spacing: 1.25px;
        }

        .btn.sign-up {
            width: 126px;
            height: 31px;
            background-color: #323a45;
        }
    }
}