.chat-container {
    max-height: 400px;
    overflow-y: scroll;
    .panel-body {
        padding: 8px;
    }
    .panel {
        margin-bottom: 2px;
        h5 {
            margin-top: 0;
        }
    }
}

textarea.chat-box {
    resize: none;
}
