html {
   overflow-y: scroll;
   overflow-x: hidden;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;

    color: #727272;
    background-color: #efefef;

    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;

}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 400;
}

p {
    letter-spacing: -0.76px;

    color: #727272;

    font-size: 16px;
    font-weight: 400;
}

.section {
    background-color: #fff;

    .section-title {
        width: 100%;

        text-align: center;

        h1 {
            letter-spacing: -2px;

            color: #3e3e3e;

            font-size: 42px;
        }

        h2 {
            letter-spacing: -0.86px;

            color: #727272;

            font-size: 18px;
        }
    }

    .section-content {
        margin-top: 60px;
    }
}

.section:after {
    display: block;
    clear: both;

    content: '';
}

[ui-view].ng-enter {
    transition: .5s;

    opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
    transition: .5s;

    opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.text-white {
    color: #fff !important;
}

.height-100 {
    height: 100%;
}

.content-wrapper {
    margin-top: 120px;
}

.push-top {
    padding-top: @padding-large-vertical;
}

.row.collapse {
    [class^="col"] {
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.panel-heading {
    .label {
        margin-right: 4px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.panel-footer {
    background-color: #ffffff;
}

.panel {
    .panel {
        margin-bottom: 0;
    }
}

.block {
    display: block;
}

.panel-post {
    position: relative;
    .img-avatar {
        max-width: 70px;
        max-height: 70px;
        min-height: 70px;
        min-width: 70px;
    }
    .label-primary {
        margin-right: 2px;
    }
    .media-body {
        padding-left: @padding-large-horizontal;
    }

    .reply-wrapper {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.panel {
    position: relative;
}

.absolute {
    position: absolute;
}

.a-top {
    top: 15px;
}

.a-right {
    right: 15px;
}

.badge-primary {
    background-color: @brand-primary;
}

.panel-contractor {
    .img-avatar {
        max-height: 100px;
        max-width: 100px;
    }
}

.send-message-popover {
    textarea {
        max-width: 100%;
        resize: none;
    }
}
