html {
   overflow-y: scroll;
   overflow-x: hidden;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    color: #727272;
    background-color: #efefef;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

label {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}
p {
    letter-spacing: -0.76px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.section {
    background-color: #fff;

    .section-title {
        width: 100%;

        text-align: center;

        h1 {
            letter-spacing: -2px;

            color: #3e3e3e;

            font-size: 42px;
        }

        h2 {
            letter-spacing: -0.86px;

            color: #727272;

            font-size: 18px;
        }
    }

    .section-content {
        margin-top: 60px;
    }
}

.section:after {
    display: block;
    clear: both;

    content: '';
}

[ui-view].ng-enter {
    transition: .5s;

    opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
    transition: .5s;

    opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.text-white {
    color: #fff !important;
}

.height-100 {
    height: 100%;
}

.content-wrapper {
    margin-top: 120px;
}

.push-top {
    padding-top: @padding-large-vertical;
}

.row.collapse {
    [class^="col"] {
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.badge-primary {
    background-color: @brand-primary;
}


.send-message-popover {
    textarea {
        max-width: 100%;
        resize: none;
    }
}

.label-primary {
    margin-right: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}
