.input-valid-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    transition: all .25s ease-out;
    .fa-check {
        color: @brand-success;
    }
    .fa-close {
        color: @brand-danger;
    }
}
