.navbar {
    margin-bottom: 0;
    height: 60px;
    background-color: transparent;
    border-bottom: 0;
    transition: all .3s ease-in-out;

    .navbar-brand {
        height: auto;
        transition: all .3s ease-in-out;
    }

    .navbar-right {
        margin-top: 12px;
    }

    li > a.btn {
        color: #fff;
        transition: all .3s ease-in-out;

        &:focus,
        &:active {
            color: #fff;
        }
        &.btn-primary {
            &:hover {
                color: darken(#fff, 20);
            }
        }
    }

    // When the menu shrinks
    &.slim {
        height: 40px;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.1) !important;

        .navbar-brand {
            padding-top: 0px;
            img {
                transform-origin: center;
                transform: scale(.75);
                transition: transform .2s ease-out;
            }
        }

        li {
            .btn-link {
                color: #000;
            }
        }

        .btn {
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .navbar-right {
            margin-top: 6px;
        }
    }
}
