.user-info {

    .user-profile-img {
        margin-bottom: 8px;
        img {
            margin: 0 auto;
            display: inline-block;
            max-width: 80px;
        }
    }
    .user-name {
        margin-bottom: 8px;
        a {
            display: block;
        }
    }
}

.post-info,
.user-info {
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-head {
    margin-bottom: 30px;
}
