<div class="section top-section signup-page height-100">
    <div class="content-wrapper">
        <div ui-view>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h1 class="text-center">I am a ...</h1>
                                <hr class="colorgraph">
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-default btn-lg btn-block" ui-sref="app.signup.employer">Employer</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-primary btn-lg btn-block" ui-sref="app.signup.contractor">Contractor</a>
                                    </div>
                                </div>
                                <br>
                                <hr class="colorgraph">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
