<!-- Intercom.io integration will go here -->

<footer>

  <script>
     /* Replace 'APP_ID' with your app ID */
     window.intercomSettings = {
      app_id: 'opo8zis9'
  };
     /* Replace 'APP_ID' with your app ID */
     (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function")    {ic('reattach_activator');ic('update',intercomSettings);}else{var    d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args)   {i.q.push(args)};w.Intercom=i;function l(){var   s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/opo8zis9';var x=d.getElementsByTagName('script')   [0];x.parentNode.insertBefore(s,x);}if(w.attachEvent)   {w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
  </script>
    <div class="
    row">
        <div class="text-center">
            <ul class="list list-inline list-unstyled">
                <li><a href="images/privacypolicy.pdf" target="_blank"><i class="fa fa-fw fa-lock"></i>Privacy Policy</a></li>
                |
                <li><a href="images/termsofservice.pdf" target="_blank"><i class="fa fa-fw fa-life-buoy"></i>Terms of Service</a></li>
            </ul>
        </ul>
    </div>
    <div class="row text-center copyright">
        <small>&copy; 2016 - Independent Work</small>
    </div>
</footer>
