<!-- Intercom.io integration will go here -->

<footer>
	<div class="
    row">
		<div class="text-center">
			<ul class="list list-inline list-unstyled">
				<li><a href="images/privacypolicy.pdf" target="_blank"><i class="fa fa-fw fa-lock"></i>Privacy Policy</a></li>
				|
				<li><a href="images/termsofservice.pdf" target="_blank"><i class="fa fa-fw fa-life-buoy"></i>Terms of Service</a></li>
			</ul>
			</ul>
		</div>
		<div class="row text-center copyright">
			<small>&copy; 2016 - Independent Work</small>
		</div>
</footer>
