<div class="user-menu">
    <ul class="dropdown-menu-user list-unstyled">
        <li>
            <div class="navbar-login">
                <div class="row">
                    <div class="col-xs-12">
                        <strong class="block text-muted">
                            {{ currentUser.firstName}} {{currentUser.lastName}}
                        </strong>
                        <small class="block text-muted">{{ currentUser.local.email}}</small>
                    </div>
                </div>
                <div class="notification-wrapper">
                    <i class=""></i>
                </div>
            </div>
        </li>
        <li>
            <ul class="list-group list-group-menu list-unstyled">
                <li class="list-group-item" ng-show="contractor">
                    <button class="btn btn-primary btn-block btn-no-radius"
                            ng-click="openCreatePostModal(); userMenuOpen = !userMenuOpen">
                        <i class="fa fa-fw fa-plus-circle" aria-hidden="true"></i>
                        Create post
                    </button>
                </li>
                <li class="list-group-item">
                    <a href="#"
                       ui-sref="app.dashboard"
                       ui-sref-active="active"
                       ng-click="userMenuOpen = !userMenuOpen">
                       {{ contractor ? 'Community' : 'Search' }}
                   </a>
                </li>
                <li class="list-group-item clearfix">
                    <a href="#"
                       ui-sref="app.chat.list"
                       ui-sref-active="active"
                       ng-click="userMenuOpen = !userMenuOpen">
                        Messages
                        <span class="badge badge-primary pull-right">
                            {{ currentUser.messages.new.length }}
                        </span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#"
                       ui-sref="app.settings.profile"
                       ui-sref-active="active"
                       ng-click="userMenuOpen = !userMenuOpen">
                       Settings
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="navbar-login navbar-login-session">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#"
                           ui-sref="app.auth.logout"
                           class="btn btn-sm btn-default pull-right"
                           ng-click="userMenuOpen = !userMenuOpen">
                           Log Out
                       </a>
                    </div>
                </div>
            </div>
        </li>
    </ul> <!-- end dropdown menu -->
</div>
