<!-- Intercom.io integration will go here -->
<footer>
    <div class="row">
        <div class="text-center">
            <ul class="list list-inline list-unstyled">
                <li><a href="#" ui-sref="app.privacy"><i class="fa fa-fw fa-lock"></i>&nbsp;Privacy Policy</a></li>
                <li><a href="#" ui-sref="app.support"><i class="fa fa-fw fa-life-buoy"></i>&nbsp;Support</a></li>
            </ul>
        </ul>
    </div>
    <div class="row text-center copyright">&copy; 2016 - Independent Work</div>
    <!-- <div class="intercom">
        <div class="intercom-button">
            <button type="button" name="button" class="btn btn-primary btn-circle btn-icon">
                <i class="fa fa-fw fa-2x fa-plus"></i>
            </button>
        </div>
    </div> -->
</footer>
