<div class="chat-list">
    <div ng-show="loading" class="text-center ng-show-fade">
        <h2 class="lead">Loading messages...</h2>
        <spinner></spinner>
    </div>

    <div class="row ng-show-fade" ng-show="!loading && !chatThreads">
        <h4 class="lead text-center" ng-if="contractor">
            You have no messages yet. Try creating a
            <button ng-click="openCreatePostModal()"
                    class="btn btn-link">
                    community post
            </button> or
            <a href="#" class="btn btn-link" ui-sref="app.settings.profile">completing your profile</a> to get involved!
        </h4>
        <h4 class="lead text-center" ng-if="employer">
            You have no message yet. <a href="#" class="btn btn-link" ui-sref="app.settings.profile">Complete your profile</a> and head back over to the
            <a href="#" class="btn btn-link" ui-sref="app.dashboard">Search page</a> to find folks to chat with!
        </h4>
    </div>

    <div class="row ng-show-fade" ng-show="!loading && chatThreads && chatThreads.length">
        <!-- MESSAGE THREADS PANE -->
        <div class="col-sm-5">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="thread in chatThreads">
                    <a href="#" ui-sref="app.chat.list.detail({ friendId: thread.otherUser._id })" ui-sref-active="active">
                        {{ thread.otherUser.firstName }} {{ thread.otherUser.lastName}}
                        <small class="text-muted block">
                            {{ thread.chats[thread.chats.length - 1].message }} - <small>{{ thread.chats[thread.chats.length - 1]._dateSent | date:'short' }}</small>
                        </small>
                    </a>
                </li>
            </ul>
        </div>

        <!-- MESSAGE THREAD DETAIL -->
        <div class="col-sm-7">
            <ui-view>
                <h3 class="lead text-muted text-center">
                    Click on a message thread on the left to start chatting!
                </h3>
            </ui-view>
        </div>

    </div>
</div>
