<div class="chat-list">
    <div ng-show="loading" class="text-center ng-show-fade">
        <h2 class="lead">Loading messages...</h2>
        <spinner></spinner>
    </div>

    <div class="row" ng-show="!loading">

        <!-- MESSAGE THREADS PANE -->
        <div class="col-sm-5">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="thread in chatThreads">
                    <a href="#" ui-sref="app.chat.list.detail({ friendId: thread.otherUser._id })">
                        {{ thread.otherUser.firstName }} {{ thread.otherUser.lastName}}
                    </a>
                    <small class="text-muted block">
                        {{ thread.chats[thread.chats.length - 1].message }} - <small>{{ thread.chats[thread.chats.length - 1]._dateSent | date:'short' }}</small>
                    </small>
                </li>
            </ul>
        </div>

        <!-- MESSAGE THREAD DETAIL -->
        <div class="col-sm-7">
            <ui-view>
                <h3 class="lead text-muted text-center">Click on a message thread on the left to start chatting!</h3>
            </ui-view>
        </div>

    </div>
</div>
