doctype html
html
  head
    title= title
    link(rel='stylesheet', href='style.css')
  body(ng-app='independent-work-app')
    
    div(ui-view class="height-100")
    script(src='vendor.js')
    script(src='client.js')
    script(src='templates.js')
