doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='independent-work-app')
    div(ui-view class="height-100")

    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-animate/angular-animate.js')
    script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')

    script(src='app.js')
    script(src='app.ctrl.js')
    
    script(src='modules/home/home.js')
    script(src='modules/home/home.ctrl.js')
    
    script(src='modules/auth/auth.js')
    script(src='modules/auth/auth.ctrl.js')
    
    script(src='modules/signup/signup.js')
    script(src='modules/signup/signup.ctrl.js')
    script(src='modules/signup/contractor.signup.ctrl.js')
    script(src='modules/signup/employer.signup.ctrl.js')
    
    script(src='modules/dashboard/dashboard.js')
    script(src='modules/dashboard/dashboard.ctrl.js')
