doctype html
html
    head
        title= title
        link(rel='stylesheet', href='bower_components/angular-ui-select/dist/select.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat')
    body(ng-app='independent-work-app' autoscroll="true")
        div(ui-view class="height-100" autoscroll="true")
        
        // Jquery/Bootstrap deps
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/bootstrap/dist/js/bootstrap.js')
        
        // Core angular
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-animate/angular-animate.js')
        script(src='bower_components/angular-sanitize/angular-sanitize.js')
        
        // Third party goodies
        script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
        script(src='bower_components/angular-toastr/dist/angular-toastr.js')
        script(src='bower_components/angular-toastr/dist/angular-toastr.tpls.js')
        script(src='bower_components/ngstorage/ngStorage.js')
        script(src='bower_components/angular-loading-bar/build/loading-bar.js')
        script(src='bower_components/angular-ui-select/dist/select.js')
        script(src='angular-bootstrap/ui-bootstrap.js')
        script(src='angular-bootstrap/ui-bootstrap-tpls.js')
        
        // Angular modules (our code)
        script(src='js/session.js')
        script(src='js/app.js')
        script(src='js/app.ctrl.js')
        script(src='templates.js')

        script(src='js/home/home.js')
        script(src='js/home/home.ctrl.js')

        script(src='js/auth/auth.js')
        script(src='js/auth/auth.ctrl.js')
        script(src='js/auth/login.ctrl.js')
        script(src='js/auth/logout.ctrl.js')
        script(src='js/auth/forgot-password.ctrl.js')

        script(src='js/signup/signup.js')
        script(src='js/signup/signup.ctrl.js')
        script(src='js/signup/contractor.signup.ctrl.js')
        script(src='js/signup/employer.signup.ctrl.js')

        script(src='js/dashboard/dashboard.js')
        script(src='js/dashboard/dashboard.ctrl.js')
        
        script(src='js/settings/settings.js')
        script(src='js/settings/settings.ctrl.js')
        script(src='js/settings/profile.ctrl.js')
        script(src='js/settings/account.ctrl.js')
        script(src='js/settings/messaging.ctrl.js')
