<div class="panel panel-default panel-contractor">
    <div class="panel-body">
        <div class="media">
            <div class="media-left media-middle">
                <a href="#" ui-sref="app.contractors.profile({ id: item._id })">
                    <img class="media-object img img-circle img-thumbnail img-avatar" src="https://www.fmtv.com/static/img/pages/default-user-avatar.jpg" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="#" ui-sref="app.contractors.profile({ id: item._id})">{{ item.firstName }} {{ item.lastName }}</a>
                </h3>
                <p>
                    <small class="block">
                        {{ item.location.city }}, {{ item.location.state }}
                    </small>
                    <p>
                        <span class="label label-primary" ng-repeat="skill in item.skills">{{ skill.name | sentenceCase }}</span>
                    </p>
                </p>
            </div>
        </div>
    </div>
    <div class="absolute a-top a-right">
        <a href="#" ui-sref="app.contractors.profile({ id: item._id })" class="btn btn-default btn-sm">
            View Profile
        </a>
    </div>
</div>
