<nav class="navbar navbar-default navbar-fixed-top"
    ng-class="{ 'slim': slimHeader }"
    slim-header>
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ui-sref="app.home">
          <img src="/assets/images/logo_transparent_background.png" alt="" title="independent - work" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="btn btn-primary" href="#" ui-sref="app.signup" ng-hide="hideSignup">Sign Up</a>
            </li>
            <li>
                <a class="btn btn-link" href="#" ui-sref="app.auth.login" ng-hide="hideLogin">Log In</a>
            </li>
        </ul>
    </div>
  </div>
</nav>

<div ui-view="container" class="height-100 app-container">
    <!--Main app sits here-->
</div>
