<div class="container app-container">

    <!-- CTA button -->
    <div class="row spacer" ng-show="!loading">
        <div class="col-md-10 col-md-offset-1">
            <button class="btn-block btn btn-primary btn-lg" ng-click="openCreatePostModal()" ng-show="contractor">
                <i class="fa fa-fw fa-plus"></b> Create post
            </button>
        </div>
    </div>

    <!-- List of dashboard items -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
			<ui-view>
                <!-- Show loader while CTRL is loading items -->
                <div ng-show="loading" class="text-center ng-show-fade">
                    <h2 class="lead">Loading dashboard...</h2>
                    <spinner></spinner>
                </div>

                <!-- EMPLOYER VIEW -->
                <div class="dash-employer" ng-show="employer && !loading">
                    <div ng-include=" 'dashboard/views/_search-controls.html' "></div>
                    <br />
                    <div class="search-results ng-show-fade" ng-show="searchDone">
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="h4" ng-show="items">
                                    Showing {{ items.length }} result{{ items.length > 1 ? 's' : '' }} for <b>{{ oldQuery }}</b>
                                </p>
                                <p class="h4" ng-show="!items">
                                    Sorry, couldn't find any results for <b>{{ oldQuery }}</b>. Please try a new search!
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row" ng-show="items.length > 0">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-lg-4 animate-filter-fade"
                             ng-repeat="contractor in items">
                            <div ng-if="contractor._id"
                                 ng-include=" 'contractors/views/_contractor-profile-card.html' ">
                            </div>
                        </div>
                    </div>
                </div>
                <!--end employer view -->

                <!-- CONTRACTOR VIEW -->
                <div class="dash-contractor">
                    <div class="panel panel-default" ng-show="contractor && !loading">
    					<div class="panel-body">
    						<div class="row">
    							<div class="col-xs-12">
    								<h2>Community</h2>
    							</div>
    						</div>
    						<div class="row" ng-show="!items.length && !loading">
    							<div class="col-xs-12 text-center">
    								<br />
    								<br />
    								<p class="text-center lead">
    									Looks like you have no posts! Why don't you create one?
    								</p>
    								<button class="btn btn-primary btn-lg" ng-click="openCreatePostModal()">
    									Create a post
    								</button>
    								<br />
    								<br />
    							</div>
    						</div>
    						<div class="row" ng-repeat="item in items" ng-show="items.length &&!loading">
    							<div class="col-xs-12">
    								<div ng-include=" 'posts/views/_post-snippet.html' "></div>
    							</div>
    						</div>
    					</div>
    				</div>
                </div><!-- end contractor view-->

			</ui-view>
		</div>
	</div>
</div>
