<div class="container app-container">
	<!-- Show loader while CTRL is loading items -->
	<div ng-show="loading" class="text-center ng-show-fade">
		<h2 class="lead">Loading dashboard...</h2>
		<spinner></spinner>
	</div>

    <!-- Search bar -->
	<!-- <div class="row ng-show-fade" ng-show="!loading">
		<div class="col-md-10 col-md-offset-1 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div ng-show="employer">
						<h2 class="h4">Search Contractors</h2>
						<div class="form-group">

						</div>
					</div>
					<div ng-show="contractor">
						<h2>Topics</h2>
						<div class="form-group">
							<input class="form-control" type="text" name="search" value="" ng-model="query" placeholder="Keyword">
						</div>
					</div>
				</div>
			</div>
		</div>
    </div> -->

    <!-- CTA button -->
    <div class="row spacer" ng-show="!loading">
        <div class="col-md-10 col-md-offset-1">
            <button class="btn-block btn btn-primary btn-lg" ng-click="openCreatePostModal()" ng-show="contractor">
                <i class="fa fa-fw fa-plus"></i> Create post
            </button>
        </div>
    </div>

    <!-- List of dashboard items -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
			<ui-view>
                <div class="" ng-show="employer">
                    <div class="row" ng-show="items.length > 0">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-lg-4" ng-repeat="contractor in items" >
                            <div ng-if="contractor._id" ng-include=" 'contractors/views/_contractor-profile-card.html' "></div>
                        </div>
                    </div>
                </div>
                </div><!--end employer view -->
				<div class="panel panel-default" ng-show="contractor && !loading">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<h2>Community</h2>
							</div>
						</div>
						<div class="row" ng-show="!items.length && !loading">
							<div class="col-xs-12 text-center">
								<br />
								<br />
								<p class="text-center lead">
									Looks like you have no posts! Why don't you create one?
								</p>
								<button class="btn btn-primary btn-lg" ng-click="openCreatePostModal()">
									Create a post
								</button>
								<br />
								<br />
							</div>
						</div>
						<div class="row" ng-repeat="item in items" ng-show="items.length &&!loading">
							<div class="col-xs-12">
								<div ng-include=" 'posts/views/_post-snippet.html' "></div>
							</div>
						</div>
					</div>
				</div><!-- end contractor view-->
			</ui-view>
		</div>
	</div>
</div>
