<span ng-message="required">This field is required.</span>
<span ng-message="minlength">Your entry is too short</span>
<span ng-message="maxlength">Your entry is too long</span>
<span ng-message="email">A valid email address is required</span>
<span ng-message="pattern">Invalid entry</span>
<span ng-message="url">Invalid URL</span>
<span ng-message="boAvailable">Value is not available for use</span>
<span ng-message="boAvailableEmail">Email is not available. Please try another email address or recover your account.</span>
<span ng-message="boPasswordMatch">Passwords must match</span>
<span ng-message="boPasswordRules">Invalid password</span>
<span ng-message="boInsurance">You must fill both insurance fields</span>
<span ng-message="boEmailNotFound">Email not found.</span>
