<div class="form-profile">

    <!-- Img upload -->
    <div class="row image-upload-wrapper form-group">
        <div class="col-xs-12 text-center">

            <div class="row">
                <div class="col-xs-12 text-center">
                    <img class="img img-circle img-thumbnail img-avatar img-lg"
                         ng-src="data:image/png;base64,{{profileImageUrl}}"
                         ng-show="currentUser.image._id"/>
                    <img class="img img-circle img-thumbnail img-avatar img-lg img-default"
                         ng-show="!currentUser.image._id"/>
                </div>
            </div>

            <!-- Can also drop image file here -->
            <div ng-show="picFile"
                 ngf-drop
                 ng-model="picFile"
                 ngf-pattern="image/*"
                 class="cropArea text-center ng-show-fade">
                 Drag a file here or click the button above
            	<img-crop
                    image="picFile  | ngfDataUrl"
                    result-image="croppedDataUrl"
                    ng-init="croppedDataUrl=''">
                </img-crop>
            </div>

            <div>
                <!-- Image file upload -->
                <button ngf-select
                        class="btn btn-default ng-show-fade"
                        ng-model="picFile"
                        ng-show="!picFile"
                        accept="image/*">
                    {{ (picFile || user.image._id) ? 'Change Picture' : 'Select Picture' }}
                </button>
            </div>

            <!-- Cropped image thumbnail -->
            <div class="cropped-photo ng-show-fade" ng-show="picFile">
            	<img ng-src="{{croppedDataUrl}}"/>
            </div>

            <!-- Submit picure for upload -->
            <div class="btn btn-default ng-show-fade"
                    ng-show="picFile"
                    ng-click="upload(croppedDataUrl, picFile.name)">
                    Submit
            </div>

            <a class="btn btn-link"
                    scroll-to="app-container"
                    ng-click="picFile = null"
                    ng-show="picFile">
                Cancel
            </a>

            <!-- Upload progress bar -->
            <div class="progress-bar progress-bar-success ng-show-fade" ng-show="progress >= 0" style="width:{{progress}}%" ng-bind="progress + '%'"></div>

            <!-- Error/Success messages -->
            <div class="alert alert-success ng-show-fade" ng-show="result">
                <p>Upload Successful</p>
            </div>
            <div class="alert alert-danger ng-show-fade" ng-show="errorMsg">
                <p>{{ errorMsg }}</p>
            </div>

        </div>
    </div>

    <!-- Name -->
    <div class="form-group">
    	<div class="row">
    		<div class="col-sm-6">
    			<label for="firstName">First name</label>
    			<input ng-model="data.firstName" type="text" name="firstName" id="firstName" class="form-control" placeholder="John">
    		</div>
    		<div class="col-sm-6">
    			<label for="lastName">Last name</label>
    			<input ng-model="data.lastName" type="text" name="lastName" id="lastName" class="form-control" placeholder="Doe">
    		</div>
    	</div>
    </div>

    <!-- Company Name -->
    <div class="form-group" ng-show="employer">
    	<div class="row">
    		<div class="col-sm-12">
    			<label for="firstName">Company Name</label>
    			<input ng-model="data.companyName" type="text" name="companyName" id="companyName" class="form-control" placeholder="ACME Corp.">
    		</div>
    	</div>
    </div>

    <!-- Location info -->
    <div class="form-group">
    	<div class="row">
    		<div class="col-sm-5">
    			<label for="city">City</label>
    			<input ng-model="data.location.city" type="text" name="city" id="city" class="form-control" placeholder="ACME Corp.">
    		</div>
    		<div class="col-sm-3">
    			<label for="state">State</label>
                <select class="form-control" name="state" ng-model="data.location.state" ng-options="key for (key, value) in states">
                </select>
    		</div>
    		<div class="col-sm-4">
    			<label for="zip">Zipcode</label>
    			<input class="form-control" type="number" name="zip" id="zip" ng-model="data.location.zipcode">
    		</div>
    	</div>
    </div>

    <!-- Skills -->
    <div class="form-group" ng-show="contractor">
    	<label for="skills">Skills</label>
    	<ui-select multiple="true"
    			   tagging="addSkill"
    			   ng-model="data.skills"
    			   on-remove="onSkillRemove($item)"
    			   theme="bootstrap">
    		<ui-select-match>{{$item.name}}</ui-select-match>
    		<ui-select-choices
    			repeat="skill in skills track by skill.name | propsFilter: { name: $select.search }"
    			minimum-input-length="2"
    			group-by="'category'">
    			<small>{{skill.name}}</small>
    		</ui-select-choices>
    	</ui-select>
    </div>

    <!-- Bio -->
    <div class="form-group">
    	<label for="bio">Bio</label>
        <textarea ng-model="data.bio"
                  ui-tinymce="tinymceOptions"
                  class="form-control"
                  name="postingDescription"
                  id="postingDescription"
                  rows="8" cols="40"
                  placeholder="Tell a little about yourself"></textarea>
    </div>

</div>
