<div class="form-profile">

    <!-- Img upload -->
    <div class="row image-upload-wrapper form-group">
        <div class="col-xs-12 text-center">

            <div class="row">
                <div class="col-xs-12 text-center">
                    <!-- Cropped image thumbnail -->
                    <div class="cropped-photo ng-show-fade" ng-show="picFile">
                    	<img class="img img-circle img-thumbnail img-avatar img-lg" ng-src="{{croppedDataUrl}}"/>
                    </div>
                    <img ng-show="!currentUser.image.base64URL && !picFile"
                         class="img img-circle img-thumbnail img-avatar img-default img-lg ng-show-fade"
                         src="https://www.fmtv.com/static/img/pages/default-user-avatar.jpg" alt="...">
                    <img ng-show="currentUser.image.base64URL && !picFile"/
                         class="img img-circle img-thumbnail img-avatar img-lg ng-show-fade"
                         ng-src="data:image/png;base64,{{currentUser.image.base64URL}}">
                </div>
            </div>

            <div class="upload-controls">
                <!-- Image file upload -->
                <button ngf-select
                        class="btn btn-default ng-show-fade"
                        ng-model="picFile"
                        ng-show="!picFile || uploadFinished"
                        accept="image/*">
                    {{ (picFile || user.image._id) ? 'Change Picture' : 'Select Picture' }}
                </button>

                <!-- Submit picure for upload -->
                <div class="btn btn-default ng-show-fade"
                        ng-show="picFile && !uploadFinished"
                        ng-click="upload(croppedDataUrl, picFile.name)">
                    Submit New Picture
                </div>

                <a class="btn btn-link ng-show-fade"
                        scroll-to="app-container"
                        ng-click="picFile = null"
                        ng-show="picFile && !uploadFinished">
                    Cancel Upload
                </a>
            </div>

            <!-- Can also drop image file here -->
            <div ngf-drop
                 ng-show="picFile && !uploadFinished"
                 ng-model="picFile"
                 ngf-pattern="image/*"
                 class="cropArea text-center ng-show-fade">
            	<img-crop
                    ng-show="picFile && !uploadFinished"
                    image="picFile  | ngfDataUrl"
                    result-image="croppedDataUrl"
                    ng-init="croppedDataUrl=''">
                </img-crop>
            </div>

            <!-- Upload progress bar -->
            <div class="progress-bar progress-bar-success ng-show-fade"
                 ng-show="progress >= 0 && uploadInProgresss"
                 style="width:{{progress}}%"
                 ng-bind="progress + '%'">
             </div>

            <!-- Error/Success messages -->
            <div class="alert alert-success ng-show-fade" ng-show="result && !hideSuccess">
                <p>Upload Successful</p>
            </div>

            <div class="alert alert-danger ng-show-fade" ng-show="errorMsg">
                <p>{{ errorMsg }}</p>
            </div>

        </div>
    </div>

    <!-- Name -->
    <div class="form-group">
    	<div class="row">
    		<div class="col-sm-6">
    			<label for="firstName">First name</label>
    			<input ng-model="data.firstName"
                       type="text"
                       name="firstName"
                       id="firstName"
                       class="form-control input-lg"
                       placeholder="John">
    		</div>
    		<div class="col-sm-6">
    			<label for="lastName">Last name</label>
    			<input ng-model="data.lastName"
                       type="text"
                       name="lastName"
                       id="lastName"
                       class="form-control input-lg"
                       placeholder="Doe">
    		</div>
    	</div>
    </div>

    <!-- Company Name -->
    <div class="form-group" ng-show="employer">
    	<div class="row">
    		<div class="col-sm-12">
    			<label for="firstName">Company Name</label>
    			<input ng-model="data.companyName"
                       type="text"
                       name="companyName"
                       id="companyName"
                       class="form-control input-lg"
                       placeholder="ACME Corp.">
    		</div>
    	</div>
    </div>

    <!-- Location info -->
    <div class="form-group">
    	<div class="row">
    		<div class="col-sm-5">
    			<label for="city">City</label>
    			<input ng-model="data.location.city"
                       type="text"
                       name="city"
                       id="city"
                       class="form-control input-lg"
                       placeholder="Cupertino">
    		</div>
    		<div class="col-sm-3">
    			<label for="state">State</label>
                <select class="form-control input-lg"
                        name="state"
                        ng-model="data.location.state"
                        ng-options="key for (key, value) in states">
                </select>
    		</div>
    		<div class="col-sm-4">
    			<label for="zip">Zipcode</label>
    			<input class="form-control input-lg"
                       name="zip"
                       id="zip"
                       ui-mask="99999"
                       ui-mask-placeholder
                       ui-mask-placeholder-char="_"
                       ng-model="data.location.zipcode">
    		</div>
    	</div>
    </div>

    <!-- Skills -->
    <div class="form-group" ng-show="contractor">
    	<label for="skills">Skills</label>
    	<ui-select multiple="true"
    			   tagging="addSkill"
    			   ng-model="data.skills"
    			   on-remove="onSkillRemove($item)"
                   reset-search-input="true"
    			   theme="bootstrap">
    		<ui-select-match>{{ $item.name }}</ui-select-match>
    		<ui-select-choices repeat="skill in skills track by skill.name | propsFilter: { name: $select.search }">
    			<small>{{skill.name}}</small>
    		</ui-select-choices>
    	</ui-select>
    </div>

    <!-- <div class="form-group">
        <selectize config="myConfig" options="skills" ng-model="data.skills"></selectize>
    </div> -->

    <!-- Bio -->
    <div class="form-group">
    	<label for="bio">Bio</label>
        <textarea ng-model="data.bio"
                  ui-tinymce="tinymceOptions"
                  class="form-control"
                  name="postingDescription"
                  id="postingDescription"
                  rows="8" cols="40"
                  placeholder="Tell a little about yourself"></textarea>
    </div>

</div>
