<div class="container app-container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="panel panel-default panel-post-stats" bs-affix data-offset-top="-100">
                <div class="panel-heading">
                    <h3 class="h4">Your settings</h3>
                </div>
                <ul class="list-group list-group-menu list-unstyled">
                    <li class="list-group-item">
                        <a href="#" ui-sref="app.settings.profile" ui-sref-active="active">
                            Profile
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" ui-sref="app.settings.account" ui-sref-active="active">
                            Account
                        </a>
                    </li>
                    <li class="list-group-item" ng-show="contractor">
                        <a href="#" ui-sref="app.settings.posts" ui-sref-active="active">
                            Posts
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" ui-sref="app.settings.messaging" ui-sref-active="active">
                            Messaging
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-8">
            <div class="ui-view-container">
                <div ui-view class="animate-view">
                    <!-- settings panels live here -->
                </div>
            </div>
        </div>
    </div>
</div>
