<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="h4">Messaging</h3>
	</div>
	<div class="panel-body">
		<form>
			<hr class="colorgraph">

			<div class="row">
				<div class="col-md-9 col-xs-12">
					<h1>FORM GOES HERE</h1>

				</div>
			</div>

			<hr class="colorgraph">

			<!-- SUBMIT BUTTON -->
			<div class="row">
				<div class="col-xs-12">
					<div class="btn btn-primary btn-lg" type="submit">Save Messaging Settings</div>
				</div>
			</div>
		</form>
	</div>
</div>
