<form bo-form
      autocomplete="off"
      novalidate
      name="profileForm"
      method="PUT"
      ng-on-error="onError"
      ng-before-submit="beforeSubmit"
      ng-after-submit="afterSubmit"
      ng-action="/api/users/{{ currentUser._id }}">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="h4">Public Profile</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<div ng-include=" 'settings/views/_profile-form.html' "></div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<!-- SUBMIT BUTTON -->
			<button class="btn btn-primary btn-lg" type="submit">Save profile</button>
		</div>
	</div>
</form>
