<script>
	window.intercomSettings = {
		app_id: 'opo8zis9',
	};
</script>
<script>
	(function() {
		var w = window;
		var ic = w.Intercom;
		if (typeof ic === "function") {
			ic('reattach_activator');
			ic('update', intercomSettings);
		} else {
			var d = document;
			var i = function() {
				i.c(arguments)
			};
			i.q = [];
			i.c = function(args) {
				i.q.push(args)
			};
			w.Intercom = i;

			function l() {
				var s = d.createElement('script');
				s.type = 'text/javascript';
				s.async = true;
				s.src = 'https://widget.intercom.io/widget/opo8zis9';
				var x = d.getElementsByTagName('script')[0];
				x.parentNode.insertBefore(s, x);
			}
			if (w.attachEvent) {
				w.attachEvent('onload', l);
			} else {
				w.addEventListener('load', l, false);
			}
		}
	})()
</script>
<form bo-form
      autocomplete="off"
      novalidate
      name="profileForm"
      method="PUT"
      ng-on-error="onError"
      ng-before-submit="beforeSubmit"
      ng-after-submit="afterSubmit"
      ng-action="/api/users/{{ currentUser._id }}">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="pull-left">Public Profile</h3>
            <div class="pull-right panel-align-top">
                <a href="#" ui-sref="app.contractors.profile({ id: data._id })" class="btn btn-link btn-sm">
                    <i class="fa fa-fw fa-eye"></i> View Public Profile
                </a>
            </div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<div ng-include=" 'settings/views/_profile-form.html' "></div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<!-- SUBMIT BUTTON -->
			<button class="btn btn-primary btn-lg" type="submit">Save profile</button>
			<div class="btn" ng-click="deleteUser()">delete profile</div>
		</div>
	</div>
</form>
