<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="h4">Public Profile</h3>
	</div>
	<div class="panel-body">
		<form>
			<hr class="colorgraph">

			<div class="row">
				<div class="col-md-9 col-xs-12">

					<!-- Name -->
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6">
								<label for="firstName">First name</label>
								<input ng-model="data.firstName" type="text" name="firstName" id="firstName" class="form-control" placeholder="John">
							</div>
							<div class="col-sm-6">
								<label for="lastName">Last name</label>
								<input ng-model="data.lastName" type="text" name="lastName" id="lastName" class="form-control" placeholder="Doe">
							</div>
						</div>
					</div>

					<!-- Name -->
					<div class="form-group" ng-show="employer">
						<div class="row">
							<div class="col-sm-6">
								<label for="firstName">Company Name</label>
								<input ng-model="data.companyName" type="text" name="companyName" id="companyName" class="form-control" placeholder="ACME Corp.">
							</div>
						</div>
					</div>

					<!-- Skills -->
					<div class="form-group" ng-show="contractor">
						<label for="skills">Skills</label>
						<ui-select multiple="true"
								   tagging="addSkill"
								   ng-model="data.skills"
								   theme="bootstrap">
							<ui-select-match>{{$item.name}}</ui-select-match>
							<ui-select-choices
								repeat="skill in skills track by skill.name | propsFilter: { name: $select.search }"
								minimum-input-length="2"
								group-by="'category'">
								<small>{{skill.name}}</small>
							</ui-select-choices>
						</ui-select>
					</div>

					<!-- Bio -->
					<div class="form-group">
						<label for="bio">Bio</label>
						<textarea ng-model="data.bio" class="form-control" name="bio" id="bio" rows="8" cols="40" placeholder="Tell a little about yourself"></textarea>
					</div>

				</div>
			</div>

			<hr class="colorgraph">

			<!-- SUBMIT BUTTON -->
			<div class="row">
				<div class="col-xs-12">
					<div class="btn btn-primary btn-lg" type="submit" ng-click="saveProfile()">Save profile</div>
				</div>
			</div>
		</form>
	</div>
</div>
