<div class="section contact-section">
    <div class="top-area">
        <div class="left-area">
            <h2>GET IN TOUCH</h2>
            <p>Want to support or just want to say hi? It's all good, we'd love to connect with you.<br/>
                Fill out the form below and we'll get back to you ASAP!</p>
            <input type="text" class="form-control" placeholder="Your name" />
            <input type="text" class="form-control" placeholder="Email address" />
            <textarea class="form-control" rows="5" placeholder="Your message"></textarea>
            <a class="btn contact-send">Send Message</a>
        </div>
        <div class="right-area">
            <h2>OUR CONTACT</h2>
            <div class="component">
                <div class="right-symbol"></div>
                <span>lisa@independentwork.com</span>
            </div>
            <div class="component">
                <div class="right-symbol"></div>
                <span>5130 S Ft Apache Rd.<br/>
                    Ste. 215 #250<br/>
                    Las Vegas, NV 89148</span>
            </div>
            <div class="component">
                <div class="right-symbol"></div>
                <span>1-877-874-4820</span>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</div>