<div class="post-reply">
    <div class="panel panel-default">
        <div class="row-fluid clearfix">
            <div class="col-sm-3 col-md-2 user-info text-center">
                <div class="user-name">
                    <a href="#" ui-sref="app.contractors.profile({ id: reply.user._id })">{{ reply.user.firstName }} {{ reply.user.lastName }}</a>
                </div>
                <div class="user-profile-img text-center">
                    <a href="#" ui-sref="app.contractors.profile({ id: reply.user._id })">
                        <img ng-show="!reply.user.image.base64URL"
                             class="img img-circle img-thumbnail img-avatar img-default img-sm ng-show-fade"
                             src="https://www.fmtv.com/static/img/pages/default-user-avatar.jpg" alt="...">
                        <img ng-show="reply.user.image.base64URL"/
                             class="img img-circle img-thumbnail img-avatar img-sm ng-show-fade"
                             ng-src="data:image/png;base64,{{reply.user.image.base64URL}}">
                    </a>
                </div>
                <p>
                    <small>Joined {{ reply.user._accountCreated | date:'MMM yyyy' }}</small>
                </p>
            </div>
            <div class="col-sm-9 col-md-10 border-left">
                <div class="post-content" ng-bind-html="reply.content"></div>
                <div class="post-meta-info">
                    <p><small>Posted on {{ reply._createdDate | date: 'mediumDate' }} {{ reply._createdDate | date: 'shortTime' }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
