<div class="post-head">
    <div class="row-fluid clearfix">
        <div class="col-sm-3 col-md-3 user-info text-center">
            <div class="user-name">
                <a href="#" ui-sref="app.contractors.profile({ id: post.user._id })">{{ post.user.firstName }} {{ post.user.lastName }}</a>
            </div>
            <div class="user-profile-img text-center">
                <a href="#" ui-sref="app.contractors.profile({ id: post.user._id })">
                    <img ng-show="!post.user.image.base64URL"
                         class="img img-circle img-thumbnail img-avatar img-default img-sm ng-show-fade"
                         src="https://www.fmtv.com/static/img/pages/default-user-avatar.jpg" alt="...">
                    <img ng-show="post.user.image.base64URL"/
                         class="img img-circle img-thumbnail img-avatar img-sm ng-show-fade"
                         ng-src="data:image/png;base64,{{post.user.image.base64URL}}">
                </a>
            </div>
            <p>
                <small>Joined {{ post.user._accountCreated | date:'MMM yyyy' }}</small>
            </p>
        </div>
        <div class="col-sm-8 col-md-9 border-left">
            <div class="post-info" ng-bind-html="post.content"></div>
            <div class="post-meta-info">
                <p>
                    <small>Posted on {{ post._createdDate | date: 'mediumDate' }} {{ post._createdDate | date: 'shortTime' }}</small>
                </p>
            </div>
        </div>
    </div>
</div>
