<div class="form-posting">
    <div class="form-group">

        <!-- posting Name -->
        <div class="form-group">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group" bo-validate>
                        <label for="postingName">Title</label>
                        <input ng-model="data.title"
                              type="text"
                              name="postingTitle"
                              id="postingTitle"
                              ng-required="true"
                              class="form-control input-lg"
                              placeholder="Some posting title">
                    </div>
                </div>
            </div>
        </div>

        <!-- posting description -->
        <div class="form-group" bo-validate>
            <label for="postingDescription">Content</label>
            <textarea ng-model="data.content"
                      ui-tinymce="tinymceOptions"
                      class="form-control"
                      name="postingDescription"
                      id="postingDescription"
                      rows="8" cols="40"
                      placeholder="Explain a little bit about the posting."></textarea>
        </div>

        <!-- Skill tags input -->
        <div class="form-group">
            <label for="skills">Skills</label>
            <ui-select multiple="true"
                       tagging="addSkill"
                       ng-model="data.skills"
                       on-remove="onSkillRemove($item)"
                       theme="bootstrap">
                <ui-select-match>{{$item.name}}</ui-select-match>
                <ui-select-choices
                    repeat="skill in skills track by skill.name | propsFilter: { name: $select.search }"
                    minimum-input-length="2"
                    group-by="'category'">
                    <small>{{skill.name}}</small>
                </ui-select-choices>
            </ui-select>
        </div>

    </div>
</div>
