<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" type="nosubmit">
                        <h3>Forgot your password?</h3>
                        <hr class="colorgraph">
                        <p>
                            Enter the email address you used to sign up for Independent Work and we will email you instructions on how to reset your password.
                        </p>
                        <div class="form-group">
                            <input ng-model="data.email" type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
                        </div>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn btn-primary btn-block btn-lg" tabindex="7" ng-click="resetPassword()">Reset Password</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <small>
                                    <i class="fa fa-long-arrow-left"></i>
                                    Back to <a href="#" ui-sref="app.auth.login">Login</a>
                                </small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    	</div>
    </div>
</div>
