<div class="container">
	<div class="row">
		<div class="col-xs-10 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4 col-xs-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<form bo-form
                          autocomplete="off"
                          novalidate
                          name="resetPasswordForm"
                          ng-on-error="onError"
                          ng-before-submit="beforeSubmit"
                          ng-after-submit="afterSubmit"
                          ng-action="/auth/pass-reset">

						<div class="alert alert-warning ng-show-fade" ng-show="resetPasswordForm.$serverError">
							<p>There was an error processing your contact request. Please try again soon.</p>
						</div>


						<div class="alert alert-success ng-show-fade" ng-show="resetPasswordForm.$serverSuccess">
							<p>Your password was reset successfully. You will now be redirected to the login page...</p>
						</div>

						<h3>Update Password</h3>

						<hr class="colorgraph">

                        <div class="row">
                            <div class="col-xs-12">
                                <label for="password">New Password</label>
                                <div class="form-group" bo-validate show-valid-icon>
                                    <input type="password"
                                           name="password"
                                           id="password"
                                           bo-password-rules
                                           ng-model="data.password"
                                           class="form-control input-lg"
                                           ng-required="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label for="confirm_password">Confirm Password</label>
                                <div class="form-group" bo-validate show-valid-icon>
                                    <input type="password"
                                           bo-password-match="password"
                                           name="confirm_password"
                                           id="confirm_password"
                                           ng-model="data.passwordConfirm"
                                           class="form-control input-lg"
                                           ng-required="true"/>
                                </div>
                            </div>
                        </div>

                        <hr class="colorgraph">

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-block btn-lg"
                                        type="submit"
                                        ng-disabled="!resetPasswordForm.$valid">
                                    Reset Password
                                </button>
                            </div>
                        </div>

						<div class="row">
							<div class="col-xs-12">
								<hr/>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<small>
									Back to
									<a href="#" ui-sref="app.auth.login">Login</a>
								</small>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
