<div class="section contact-section" id="contact">
	<div class="container">
		<div class="row top-area">
			<div class="col-md-6 wow slideInLeft">
				<h2>GET IN TOUCH</h2>
				<p>
                    Want to support or just want to say hi? It's all good, we'd love to connect with you.
                    <br/>
                    <br/>
					Fill out the form below and we'll get back to you ASAP!
                </p>
				<form action="https://formspree.io/hello@independentwork.com"
      method="POST">

					  <div class="form-group" >
						  <input type="" name="Name of user:" class="form-control" placeholder="Your name" >
					  </div>
					  <div class="form-group" >
						  <input type="email" name="_replyto" class="form-control" placeholder="Your name" >
					  </div>
						<input type="hidden" name="_next" value="http://www.independentwork.com/#/" />
						<input type="hidden" name="_subject" value="New submission from the contact for from Independent Work!" />
						<input type="hidden" name="_format" value="plain" />

					  <div class="form-group" >
						  <textarea class="form-control"
						  			rows="5"
									placeholder="Your message"
									name="Users Message:">
							</textarea>
					  </div>
					  <button class="btn btn-primary btn-lg" type="submit">
						  Send Message
					  </button>
				</form>
			</div>
			<div class="col-md-5 col-md-offset-1 wow slideInRight" data-wow-delay=".1s">
				<h2>OUR CONTACT INFO</h2>
				<div class="media">
					<div class="media-left">
                        <i class="fa fa-fw fa-lg fa-envelope"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">
                            <a href="mailto:{{ contactEmail }}">{{ contactEmail }}</a>
                        </h4>
					</div>
				</div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-fw fa-lg fa-map-marker"></i>
                    </div>
                    <div class="media-body">
                        <address>
                            {{ contactAddress.streetAddress.line1 }}<br/>
                            {{ contactAddress.streetAddress.line2 ? contactAddress.streetAddress.line2 : '' }} <br ng-if="contactAddress.streetAddress.line2"/>
                            {{ contactAddress.city }}, {{ contactAddress.state }} {{ contactAddress.zip }}
                        </address>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-fw fa-lg fa-phone"></i>
                    </div>
                    <div class="media-body">
                        <a href="tel:{{contactPhone}}">{{contactPhone | tel}}</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
