<div class="section independent-section">
    <div class="left-area col-sm-6">
    </div>
    <div class="right-area col-sm-6">
        <h2>Being Independent Should be Celebrated, Not Difficult</h2>
        <p>Independent Work seeks to provide an interactive and 
            dynamic community of independent workers (you) in 
            an easily searchable format with an emphasis on 
            autonomy and dignity for all. Get away from the 
            terrible rating systems, high fees and lack of 
            community on other sites and join us.</p>
        <a class="btn learn-more">Learn More</a>
    </div>
</div>