<div class="section independent-section light-bg" id="learnMore">
	<div class="container-fluid clearfix">
		<div class="row-fluid wow fadeIn clearfix height-100">
			<div class="col-md-6 height-100 left-area"></div>
			<div class="col-md-6 height-100 right-area">
				<h2 class="lead">Being Independent Should be Celebrated, Not Difficult</h2>
				<p>Independent Work seeks to provide an interactive and dynamic community of independent workers (you) in an easily searchable format with an emphasis on autonomy and dignity for all. Get away from the terrible rating systems, high fees and lack of community on other sites and join us.</p>
				<a class="btn learn-more" scroll-to="newWayToWork">Learn More</a>
			</div>
		</div>
	</div>
</div>
