<div class="section join-section">
    <div class="mark">
        <div class=" wow fadeInDown">
            <h1>Sign Up for Early Access</h1>
            <h2>Get notified when we launch and change the way you work.</h2>
            <br/>
            <br/>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">
                    <button class="btn btn-primary btn-lg btn-block" ng-click="openMailChimpModal()">Join us for beta</button>
                </div>
            </div>
        </div>
    </div>
</div>
