<div class="section mission-section" id="easierWayToWork">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h1 class="lead wow fadeIn">An easier way to work</h1>
                    <p class="wow fadeIn" data-wow-delay=".1s">Our mission is to make it easier for you to find work, and for your customers to work with you</p>
                </div>
                <div class="section-content">
                    <div class="row wow fadeInDown" data-wow-delay=".2s">
                        <div class="mission-block col-sm-4">
                            <div class="col-sm-2">
                                <i class="fa fa-2x fa-heart text-primary"></i>
                            </div>
                            <div class="block-content col-sm-10">
                                <h2>A Real Profile</h2>
                                <p>It's your career, not ours, so add or remove anything you want to help you get the job. No pre-defined fields or required entries.</p>
                            </div>
                        </div>
                        <div class="mission-block col-sm-4">
                            <div class="col-sm-2">
                                <i class="fa fa-2x fa-hourglass-end text-primary"></i>
                            </div>
                            <div class="block-content col-sm-10">
                                <h2>No Low-Ball Bidding</h2>
                                <p>Other job sites force you to compete for jobs by bidding, and the lowest usually wins. Not here. Your expertise is worth something more.</p>
                            </div>
                        </div>
                        <div class="mission-block col-sm-4">
                            <div class="col-sm-2">
                                <i class="fa fa-2x fa-star-half-empty text-primary"></i>
                            </div>
                            <div class="block-content col-sm-10">
                                <h2>No Crazy Rating System</h2>
                                <p>Everyone has had an unhappy customer, but that shouldn't effect your future earnings. Let customers leave meaningful reviews, not one stars.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row wow fadeInDown" data-wow-delay=".3s">
                        <div class="mission-block col-sm-4">
                            <div class="col-sm-2">
                                <i class="fa fa-2x fa-credit-card text-primary"></i>
                            </div>
                            <div class="block-content col-sm-10">
                                <h2>No Fees to Employers</h2>
                                <p>Did you see how high Upwork just jacked up their prices? Not cool. Independent Work charges no fees to employers, and the only fee you pay is $9/month.</p>
                            </div>
                        </div>
                        <div class="mission-block col-sm-4">
                            <div class="col-sm-2">
                                <i class="fa fa-2x fa-bullhorn text-primary"></i>
                            </div>
                            <div class="block-content col-sm-10">
                                <h2>Negotiate On Your Terms</h2>
                                <p>We put the power into you and your customer's hands to negotiate terms that work for you. Want to get paid hourly? Weekly? By deliverable? Works for us.</p>
                            </div>
                        </div>
                        <div class="mission-block col-sm-4">
                            <div class="col-sm-2">
                                <i class="fa fa-2x fa-users text-primary"></i>
                            </div>
                            <div class="block-content col-sm-10">
                                <h2>Your Community</h2>
                                <p>Never feel alone again. Join our robust community of independent freelancers and contractors all in the same boat as you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
