<div class="section new-way-section">
    <div class="container">
        <div class="section-title">
            <h1>A New Way to Work</h1>
            <h2>Ideal for freelancers, contractors, and their customers</h2>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="left-area col-sm-5">
                    <h2>Independent Work is your pathway to a rewarding, hassle free and fulfilling independent career</h2>
                    <div class="block">
                        <div class="block-title">
                            <div class="block-symbol"></div>
                            <h2>Amazingly Simple to Use</h2>
                        </div>
                        <p>With a minimalistic design, no fees and no contracts our platform is the first of it's kind making it very simple to find and secure work.</p>
                    </div>
                    <div class="block">
                        <div class="block-title">
                            <div class="block-symbol"></div>
                            <h2>Power In Your Hands</h2>
                        </div>
                        <p>Our focus is on the worker, not the customer. This ensures customers find independent workers who are dedicated to their craft, love their work, and are looking for long lasting contractor relationships.</p>
                    </div>
                </div>
                <div class="right-area col-sm-7 text-right">
                    <img src="/images/white_logo_color_background.png" class="wow slideInRight" data-wow-delay=".2s"/>
                </div>
            </div>
        </div>
    </div>
</div>
