<div class="section top-section">
	<div class="overlay"></div>
	<div class="banner">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
				<h1 class="text-white">Work Independently, Together</h1>
				<h2 class="text-white">The best place for contractors & freelancers to find work, collaborate, and get paid.</h2>
				<br />
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<div class="input-group">
					<input type="email" id="s-email" name="EMAIL" placeholder="Enter your Email Address" class="form-control" required="">
					<!-- Signup Button -->
					<span class="input-group-btn">
						<button class="btn btn-primary btn-lg">SIGNUP FOR BETA</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
