<div class="section top-section">
	<div class="overlay"></div>
	<div class="banner">
		<div class="row wow fadeInDown" data-wow-delay=".3s">
			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
				<h1 class="text-white">Work Independently, Together</h1>
				<h2 class="text-white">The best place for contractors & freelancers to find work, collaborate, and get paid.</h2>
				<br />
				<br />
			</div>
		</div>
		<div class="row wow fadeInUp" data-wow-delay=".5s">
			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
				<div class="input-group input-subscription">
					<input type="email" ng-model="data.email" name="EMAIL" placeholder="Enter your Email Address" class="form-control input-lg" required="">
					<!-- Signup Button -->
					<span class="input-group-btn">
						<button class="btn btn-primary btn-lg">SIGNUP FOR BETA</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="absolute left width-100 text-center arrow-wrapper">
		<div class="wrapper wow bounce" scroll-to="easierWayToWork" data-wow-iteration="infinite" data-wow-duration="1.5s">
			<i class="fa fa-fw fa-2x fa-chevron-down"></i>
		</div>
	</div>
</div>
